@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
}

body {
  color: white;
}
@font-face {
  font-family: 'Primary';
  src: url('../public/fonts/primary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Secondary';
  src: url('../public/fonts/secondary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.hero-background {
  background: radial-gradient(at left top, rgb(25, 0, 0), rgb(15, 0, 0));
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 25%;
    --ring: 0 100% 50%;
  }
}